<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <title>introduccion a webRTC</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <script src="/socket.io/socket.io.js"></script>
</head>

<body>

   <div>
      Video :
      <select id="camera"></select>
   </div>
   <br/>
   
   <video autoplay class="grayscale_filter"></video>
   <div>
       <label>Tu nombre</label><input  id="myName" type="text">
       <label>mensaje</label> <input  id="myMessage" type="text">
       <input id="sendMensaje" type="submit"/>
       <div id="chatArea">mensaje Output: <br/></div>
   </div>

   <script>

      var videoArea = document.querySelector("video");
      var videoSelect = document.querySelector("#camera");

      var myName = document.querySelector("#myName");
      var myMessage = document.querySelector("#myMessage");
      var sendMensaje = document.querySelector("#sendMensaje");
      var chatArea = document.querySelector("#chatArea");
      var ROOM = "chat";


      // metodo antiguo de listar las camaras.
      //MediaStreamTrack.getSources(getCameras);

      navigator.mediaDevices.enumerateDevices().then(getCameras);

      videoSelect.onchage = startStream;

      startStream();

      io = io.connect();   // nos conectamos a sokect IO
      io.emit('ready',ROOM); // emitimos la avitacion

      io.on('announce', (data)=>{
         displayMessage(data.message)
      });

      function displayMessage(mensaje){
         chatArea.innerHTML = chatArea.innerHTML + "<br/>" + mensaje; 
      }

      function getCameras(sourceInfos) {
         for (var i = 0; i !== sourceInfos.length; ++i) {
            var sourceInfo = sourceInfos[i];
            var opcion = document.createElement('option');
            opcion.value = sourceInfo.id;
            if (sourceInfo.kind === 'videoinput') {
               opcion.text = sourceInfo.label || 'camera ' + (videoSelect.length + 1);
               videoSelect.appendChild(opcion);
            }
         }
      }

      function startStream() {
         navigator.getUserMedia = navigator.getUserMedia ||
            navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
         var videoSource = videoSelect.value;
         var contraints = {
            audio: true,
            video: true
         };
         navigator.getUserMedia(contraints, onSuccess, onError);
      }

      function onSuccess(stream) {
         videoArea.src = window.URL.createObjectURL(stream);
         videoArea.play();
      }

      function onError(error) {
         console.error(error);
      }


   </script>

</body>

</html>